<!DOCTYPE html>

<html>
  <head>
      <meta charset="UTF-8">
      <title>Django REST Backend OpenAPI</title>
      <link rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3.45.0/swagger-ui.css">
  </head>
  <body>

  <div id="property-insight-openapi"></div>

  <script src="https://unpkg.com/swagger-ui-dist@3.45.0/swagger-ui-standalone-preset.js"></script>
  <script src="https://unpkg.com/swagger-ui-dist@3.45.0/swagger-ui-bundle.js"></script>

  <script>
    window.onload = function() {
      const swaggerDefinition = {{ swaggerDefinition|safe }}

      const ui = SwaggerUIBundle({
        spec: swaggerDefinition,
        dom_id: '#property-insight-openapi',
        deepLinking: true,
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIStandalonePreset
        ],
        plugins: [
            SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout",
      });
      window.ui = ui;
    }
  </script>
  </body>
</html>
